<div class="container-fluid">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-phone">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input id="search" class="mdl-textfield__input" type="text" id="sample3" placeholder="Where are you headed?">
      </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
      <button id="find" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" type="button" onclick="getLocation()"><i class="material-icons">my_location</i></button>
    </div>
  </div>
</div>
<div id="map"></div>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ63rTQob19owHv4jyFA63zJ4DPgEczTw&callback=initMap&libraries=places">
</script>
<script>
  var carSpots = <%= @search_carspots.to_json %>
</script>
<script src="/javascripts/application.js">
</script>
