<h1>Nearby car results</h1>
<div id="map"></div>

<script>

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 3,
    center: {lat: -28.024, lng: 140.887}
  });

  var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

  var markers = locations.map(function(location, i) {
    return new google.maps.Marker({
      position: location,
      label: labels[i % labels.length]
    });
  });

  var markerCluster = new MarkerClusterer(map, markers,
    {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

  }

  var locations = [];
  var carSpots = <%= @search_carspots.take(10).to_json %>
  carSpots.forEach(function(carspot){
    if (carspot.status === "Unoccupied") {
      var latitude = carspot.lat
      var longitude = carspot.lon
      locations.push({lat: parseFloat(latitude), lng: parseFloat(longitude)});
    }
  });
  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ63rTQob19owHv4jyFA63zJ4DPgEczTw&callback=initMap">
  </script>
